body {
    background: url(https://lh3.googleusercontent.com/proxy/eLgXEv3N108ixdJMWBj4upm1YQtdmZZVSZ7JVoAEDSIaD4OPgKQ2r138HsO9M5OLfDyKlt992dzmmmta0vxIECp4Z4K7_lPr28xQh8C76m1hF_HXcqI);
    color: white;
    font-family: roboto;
    text-align: center;
    margin-top: 300px;
    font-size: medium;

}